@charset "UTF-8";
@font-face {
  font-family: "font_1";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v11/a8IbNovtLWfR7T7bMJwrA4KR.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "font_2";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "font_3";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/** box-sizing est appliqué à tous les éléments */
* {
  box-sizing: border-box;
  margin: 0;
}

/*================================================    
                          *** colors ***    
        =================================================*/
/*** location ***/
/*** button ***/
/*** card(box shadow) ***/
/*================================================    
                **** LOADER  ***    
        =================================================*/
.loader {
  position: fixed;
  background-color: #f6f6f6;
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: 1;
  animation: load 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader__logo {
  position: relative;
  top: -250px;
  height: 70px;
  padding-bottom: 30px;
  opacity: 1;
}
.loader__container {
  position: relative;
  top: -250px;
  display: flex;
  flex-direction: row;
  transition: opacity 1s, ease-in-out;
}
.loader__dot {
  opacity: 0.8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC);
  animation: loader infinite 0.4s alternate;
}

@keyframes load {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  100% {
    transform: translateY(-10px);
  }
}
.d1 {
  animation-delay: 0.1s;
}

.d2 {
  animation-delay: 0.2s;
}

.d3 {
  animation-delay: 0.3s;
}

/*================================================    
                          **** FX ***    
        =================================================*/
/*** HEART ***/
.heart-fill {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fa-stack:hover .heart-fill {
  opacity: 1;
}

/*** Keyframes fade-In ***/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  overflow: hidden;
  opacity: 0;
  opacity: 1 \9 ;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.card:hover .card__check {
  opacity: 1;
  transform: translate(-50px);
  transition: transform 450ms ease-in-out;
}
.card:hover .fa-circle-check {
  transform: rotate(720deg);
}
.card .fa-circle-check {
  opacity: 1;
  color: white;
  transition: transform 800ms ease-in-out;
}

.card:hover .card__price {
  transform: translate(-60px);
  transition: transform 350ms ease-in-out;
}

.card:hover .card__bottomline {
  padding-right: 35px;
}

.card_1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.card_2 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.card_3 {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.card_4 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.card_1:hover,
.card_2:hover,
.card_3:hover,
.card_4:hover {
  overflow: hidden;
  padding-right: 80px;
}

/*================================================    
                **** RESPONSIVE PAD  ***    
        =================================================*/
@media screen and (min-width: 768px) {
  header .logo {
    padding: 20px 0 20px 0;
  }
  header .logo__img {
    height: 40px;
  }
  main .function {
    padding: 40px;
  }
  main .function__stages {
    width: 75%;
  }
  main .restaurants {
    padding: 20px 40px;
  }
  main .restaurants .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 40px 80px 40px;
  }
  main .restaurants .card {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
  }
  main .restaurants .card__img {
    min-height: 175px;
  }
}
/*================================================    
                **** RESPONSIVE DESKTOP  ***    
        =================================================*/
@media screen and (min-width: 992px) {
  header .logo__img {
    height: 50px;
  }
  main .function {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .function__stages {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  main .function__stage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .function__card, main .function__card_3 {
    padding: 35px 30px;
  }
  main .function__counter {
    top: 10px;
    left: 0;
  }
  main .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .restaurants__title {
    padding-bottom: 20px;
  }
  main .restaurants .cards {
    justify-content: center;
  }
  main .restaurants .card {
    flex-basis: 35%;
  }
}
@media screen and (min-width: 1350px) {
  main .restaurants .cards {
    justify-content: space-around;
  }
  main .restaurants .card {
    flex-basis: 20%;
  }
}
* {
  list-style-type: none;
}
* a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
}

/*================================================    
                          **** HEADER ***    
        =================================================*/
.logo {
  text-align: center;
  padding: 20px 0 10px 0;
}
.logo__img {
  height: 30px;
}

/*================================================    
                          **** MAIN ***    
        =================================================*/
/*** HEADER ***/
.location {
  padding: 15px 0 15px 0;
  background-color: #eaeaea;
  text-align: center;
  box-shadow: 1px 30px 25px -39px rgba(0, 0, 0, 0.67) inset;
}
.location__icon {
  padding-right: 20px;
}
.location__text {
  font-family: font_3, arial, sans-serif;
}

.tagline {
  padding: 40px 20px 70px 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.tagline__title {
  font-family: font_3, arial, sans-serif;
  padding-bottom: 20px;
}
.tagline__subtitle {
  font-family: font_2, arial, sans-serif;
  padding-bottom: 40px;
}
.tagline__btn {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC);
  color: white;
  text-decoration: none;
  font-family: font_3, arial, sans-serif;
  font-size: 14px;
  padding: 12px 20px 12px 20px;
  border-radius: 25px;
  box-shadow: 1px 8px 12px -6px rgba(0, 0, 0, 0.37);
}
.tagline__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.94);
}

/*** FUNCTION ***/
.function {
  padding: 40px 20px 40px 0;
}
.function__title {
  font-family: font_3, arial, sans-serif;
  padding: 0px 20px;
}
.function__stages {
  list-style: none;
  padding: 0;
}
.function__stage {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 20px 5px;
}
.function__card {
  background-color: #f6f6f6;
  padding: 25px 30px 25px 30px;
  border-radius: 25px;
  width: 100%;
  font-family: font_3, arial, sans-serif;
}
.function__counter {
  position: relative;
  left: 14px;
  background-color: #9356DC;
  padding: 7px 10px 6px 10px;
  border-radius: 50%;
  font-family: font_2, arial, sans-serif;
  font-size: 12px;
  color: white;
}
.function__icon {
  padding: 0 20px 0 5px;
  color: #9356DC;
}
.function__card_3 {
  background-color: #f5edff;
  padding: 25px 30px 25px 30px;
  width: 100%;
  border-radius: 25px;
  font-family: font_3, arial, sans-serif;
}
.function__icon_3 {
  padding: 0 20px 0 5px;
  color: #9356DC;
}

/*** RESTAURANTS ***/
.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}
.restaurants__title {
  padding-left: 20px;
  font-family: font_3;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card {
  position: relative;
  height: 250px;
  width: 100%;
  padding-bottom: 80px;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 1px 8px 12px -6px rgba(0, 0, 0, 0.37);
}
.card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__footer {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.card__baseline {
  padding: 10px;
}
.card__title {
  padding-bottom: 5px;
}
.card__label {
  position: absolute;
  background-color: #99E2D0;
  color: #199678;
  font-family: font_3;
  padding: 5px 8px;
  border-radius: 3px;
  top: 15px;
  right: 15px;
}
.card .fa-stack {
  width: 40px;
  height: 20px;
  text-align: center;
}
.card .fa-heart {
  font-size: 25px;
}
.card .fas {
  width: 25px;
}
.card .far {
  width: 25px;
  color: #353535;
}

/*** FOOTER ***/
.footer {
  background-color: #353535;
  color: white;
  padding: 25px 25px 40px 25px;
}
.footer__logo {
  font-family: font_1;
  font-size: 20px;
}
.footer__list {
  font-family: font_3;
  font-size: 16px;
  padding: 20px 0;
}
.footer__line {
  padding: 5px 0;
}
.footer .bottom {
  font-family: font_2;
}
.footer__line a {
  color: white;
}
.footer__icon {
  padding-right: 10px;
}

.fa-handshake-angle {
  font-size: 11px;
}

/*================================================    
                                  **** FOOTER ***    
                =================================================*/

/*# sourceMappingURL=style_acceuil.css.map */
